body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    --gutter: 30px;
    --footer-height: 25px;

    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#sports-list {
    display: flex;
    flex-wrap: wrap;
}

.eachSport {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    box-shadow: 6px 7px 22px -5px rgba(0, 0, 0, 0.35);
    color: slateblue;
    background-color: springgreen;

}

#cats-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cat-name {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Courier New monospace', 'Georgia', 'Garamond', 'serif';
    
}

.cat {
    margin: 5px;
    padding: 5px;
    box-shadow: 4px 4px 15px -3px rgb(0 0 0 / 55%);
    background-color: rgba(37, 224, 37, 0.61);
}

.cat img {

    height: 300px;
    width: 300px;
    object-fit: cover;
    color: #e415ff;
}

#foods-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #FF000014;
    margin: 5px;
    padding: 5px;
}

.food {
    color: #4e0707d9;
    background-color: #9999ffd4;
    margin: 5px;
    box-shadow: 6px 6px 11px -4px rgba(0, 0, 0, 0.65);
    text-align: center;
}

.food h3 .food p {
    color: purple;
    background-color: pink;
    margin: 5px;
}

.food-image {
    height: 220px;
    width: 220px;
    object-fit: cover;
}

#video-games-list {
    color: #00000065;
    grid-gap: 5px;
}

#video-games-list h1 {
    color: #000000;
}

.video-game {
    color: #00000065;
    text-align: center;
    margin-left: 10px;
    display: inline-block;
    grid-gap: 5px;
    padding: 10px;
    background-color: #00000025;
    box-shadow: 4px 1px 10px 4px;
    margin-top: 20px;
}

.video-game img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

@keyframes pulse {
    20% {
        transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
    }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

}